<a href="https://colab.research.google.com/github/MI177/edd_1310_2021/blob/master/Clase2RepasodePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 3

Variables

In [17]:
escuela = "FES Aragon"
print(escuela)
print("-------------")
edad=13
estatura=1.67
fumador=False
frase="""
esta es
una 
frase de multiples lineas y
tambien es
un tipo de dato
"""

print(frase)
nombre='jose2'
nombre_completo="jose sosa cardenas"
print(nombre_completo)

FES Aragon
-------------

esta es
una
frase de multiples lineas y
tambien es
un tipo de dato

jose sosa cardenas

# Print 

puedes usar  con comas ,

con signo mas +

con format()

con el operador f""

In [9]:
print(nombre,edad)

jose2 13

In [19]:
# + concatena solo concatena cadenas y tienes que convertir los tipos de variables numericas a tipo cadena str
print(nombre+str(edad))
print(nombre + nombre_completo)

jose213
jose2jose sosa cardenas

In [13]:
#con formato / nombre: jose y su edad es 13 
print("Su nombre es {0} y su edad es {1} ".format(nombre,edad))
print("Su nombre es {1} y su edad es {0} ".format(nombre,edad))

Su nombre es jose2 y su edad es 13
Su nombre es 13 y su edad es jose2

In [14]:
#formato con el operador f""
print(f"Su nombre es {nombre} y su edad es {edad}") #forma recomendada para el semestre

Su nombre es jose2 y su edad es 13

# Caracter de escape 

\n salto de linea

\t tabulador 

\a beep

\\" escapar/imprimir comillas

\\' escapar comillas simples

# Ayuda en python

dir()

help()

In [23]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="----")

Jose sosa cardenas
JOSE SOSA CARDENAS----

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Clase String

es manejada xcomo un arreglo (c o java) o lista (python)

telefono="Huawei mate 30 pro"

el stop no se incluye termina en el valor anterior al stoop

In [21]:
telefono="Huawei mate 30 pro"
print(telefono[5])

i

# Slicing rebanado

[int:stop:incremento]

el inicio y el incremento son opcionales

In [31]:
print(telefono[7:11:1])
print(telefono[:11:])
#el valor por defecto de stop es len() imprimr toda la cadena
print(telefono[::])
#incremento negativo
print(telefono[::-1])
print(telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# Metodo string

metodos utiles para la clase string

In [49]:
facultad="    facultad de estudios superiores arargon     "
print(facultad)
print(facultad.count("s")) #Cuenta un deterinado numero de elemntos en una cadena
print(facultad.find("s"))
print(facultad.strip())#remueve espacios en blanco al principio y al final y quita saltos de linea
print(len(facultad))
print(facultad.split("t "))
print(facultad.strip().split(" "))

print("-----------------")
#copiar cadenas
otra_cadena=facultad
otra_cadena="FES Aragon"
print(otra_cadena)
print(facultad)
print(otra_cadena)

#copiar listas
colores =["rojo","verde"]

    facultad de estudios superiores arargon
4
17
facultad de estudios superiores arargon
48
['    facultad de estudios superiores arargon     ']
['facultad', 'de', 'estudios', 'superiores', 'arargon']
-----------------
FES Aragon
    facultad de estudios superiores arargon
FES Aragon